fastapi==0.110.0
uvicorn==0.29.0
langchain==0.2.14
langchain-community==0.2.12
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.4
faiss-cpu==1.13.2
sentence-transformers==2.6.1
pypdf==3.17.4
python-multipart==0.0.6
pydantic>=2.7.4
google-generativeai
